In [1]:
! pip install tabula-py

Collecting tabula-py
  Downloading tabula_py-2.8.2-py3-none-any.whl (12.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 84.3 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.10/dist-packages (from tabula-py) (1.5.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from tabula-py) (1.23.5)
Requirement already satisfied: distro in /usr/lib/python3/dist-packages (from tabula-py) (1.7.0)
Collecting jpype1 (from tabula-py)
  Downloading JPype1-1.4.1-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (465 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 465.3/465.3 kB 42.0 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2023.3.post1)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from jpype1->tabula-py) (23.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=0.25.3->tabula-py) (1.16.0)
Installing collected packages: jpype1, tabula-py
Successfully installed jpype1-1.4.1 tabula-py-2.8.2

In [2]:
import  requests
#url="https://sasini.co.ke/download/sasini-plc-notice-of-extra-ordinary-general-meeting-05-11-2020/?wpdmdl=1567&refresh=654476be3b57d1698985662"
from urllib import request
from bs4 import BeautifulSoup
import re
import os
import urllib
url="https://sasini.co.ke/downloads/"
response = request.urlopen(url).read()
soup= BeautifulSoup(response, "html.parser")
links   = []
for link in soup.find_all('a', class_='wpdm-download-link'):#['data-downloadurl']# href=re.compile(r'(\bhttps?:\/\/[^\/]+(\/.*)?\b)'))
    links.append(link.get("data-downloadurl"))

pattern = r"financial"
matches = [item for item in links if re.search(pattern, item)]
len(matches)

6

In [3]:
for num, pdf_bytes  in enumerate(pdf_data):
  with open("Sasini_Annual_data_{}.pdf".format(num), "wb") as pdf_file:
    pdf_file.write(pdf_bytes)
    print("Document  {} saved.".format(num))
  pdf_file.close()

NameError: ignored

In [ ]:
import  os
from IPython.display import  display
import  tabula
files  =  os.listdir()
dataframes   =  []
pdf_files = [file for file in files if file.lower().endswith('.pdf')]
for pdf in pdf_files:
  df = tabula.read_pdf(pdf, pages  = "all")
  dataframes.append(df)

In [ ]:
print(len(dataframes))

6

In [ ]:
from IPython.display import  display
for  index in range(len(dataframes)):
  name    =  "Coffee"
  for   i in range(len(dataframes[index])):
    # match = re.search(, sentence)
    if name in dataframes[ index][i].columns:
      display(dataframes[index][i])
      dataframes[index][i].to_csv(f"Sasini_coffee{i}.csv")

,Unnamed: 0,Tea,Unnamed: 1,Coffee,Macadamia,Avocado,Other,Consolidated
0,30 September 2021:,KShs,NaN,KShs,KShs,KShs,KShs,KShs
1,NaN,‘000,NaN,‘000,‘000,‘000,‘000,‘000
2,Revenue,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Total sales,"2,405,160",NaN,"2,339,171","402,283","231,237","24,112","5,401,963"
4,Intergroup sales,-,NaN,-,-,-,"( 12,000)","(12,000)"
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Net sales to external customers,"2,405,160",NaN,"2,339,171","402,283","231,237","12,112","5,389,963"
7,Other income,"5,954",NaN,"89,149",3,"2,722","3,406","101,234"
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,"2,411,114",NaN,"2,428,320","402,286","233,959","15,518","5,491,197"
10,Results,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Operating results on operating income,"177,483",(,"4,111)","77,873","( 21,141)","( 23,193)","206,911"
12,Operating results on biological assets,"185,967",NaN,"328,191",-,-,-,"514,158"
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Operating results before interest and tax,"363,450",NaN,"324,080","77,873","( 21,141)","( 23,193)","721,069"
15,Assets and liabilities,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Segment assets,"3,656,845",NaN,"10,513,018","516,864","157,631","298,382","15,142,739"
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Segment liabilities,"916,858",NaN,"609,942","94,874","25,716","51,258","1,698,748"
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Other segment information,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Capital expenditure - tangible fixed asset,"55,206",NaN,"60,242","1,907","28,336","( 3,731)","141,960"
22,Depreciation and amortisation,"120,183",NaN,"37,839","25,353","3,673","58,768","245,816"
23,Income tax expense,-,NaN,-,-,-,"194,896","194,896"
24,Interest income,-,NaN,-,-,-,"( 29,241)","(29,241)"
25,Interest expense,-,NaN,-,-,-,"14,116","14,116"
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Average number of employees,"1,510",NaN,879,51,9,25,"2,474"

,Unnamed: 0,Coffee,Tea,Sub,Other,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,produce,produce,total,trees,Livestock,Sub total,Total
1,2018:,KShs’000,KShs‘000,KShs’000,KShs ‘000,KShs‘000,KShs’000,KShs‘000

,Unnamed: 0,Tea,Coffee,Others,Consolidated
0,30 September 2017:,KShs ‘000,KShs ‘000,KShs ‘000,KShs ‘000
1,Revenue,NaN,NaN,NaN,NaN
2,Sales to external customers,"2,308,093","1,609,011","284,091","4,201,195"
3,Other income,"9,042","89,391",98,"98,531"
4,NaN,"2,317,135","1,698,402","284,189","4,299,726"
5,Results,NaN,NaN,NaN,NaN
6,Operating results on operating activities,"271,227","41,577","( 21,369)","291,435"
7,Operating results on biological assets,"34,967","46,779",-,"81,746"
8,Operating results before tax,"306,194","88,356","( 21,369)","373,181"
9,Assets and liabilities,NaN,NaN,NaN,NaN
10,Segment assets,"3,472,022","9,272,204","451,799","13,196,025"
11,Segment liabilities,"1,083,915","563,871","232,362","1,880,148"
12,Other segment information,NaN,NaN,NaN,NaN
13,Capital expenditure - tangible fixed assets,"34,872","85,539","116,880","237,291"
14,Depreciation and amortisation of,"72,082","34,437","32,713","139,232"
15,Leasehold land and intangible assets,NaN,NaN,NaN,NaN
16,Average number of employees,"3,185","1,185",82,"4,452"

,Unnamed: 0,Tea,Coffee,Others,Consolidated
0,30 September 2021:,KShs ‘000,KShs ‘000,KShs ‘000,KShs ‘000
1,Revenue,NaN,NaN,NaN,NaN
2,Total sales,"2,288,843","2,112,652","871,938","5,273,433"
3,Intergroup sales,-,-,"( 12,000)","(12,000)"
4,NaN,NaN,NaN,NaN,NaN
5,Net sales to external customers,"2,288,843","2,112,652","859,938","5,261,433"
6,NaN,NaN,NaN,NaN,NaN
7,Other income,"122,262","101,371","6,131","229,764"
8,NaN,NaN,NaN,NaN,NaN
9,NaN,"2,411,105","2,214,023","866,069","5,491,197"
10,NaN,NaN,NaN,NaN,NaN
11,Results,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN
13,Operating results before tax,"363,450","321,047","36,572","721,069"
14,30 September 2021:,Tea,Coffee,Others,Consolidated
15,NaN,KShs ‘000,KShs ‘000,KShs ‘000,KShs ‘000
16,Assets and liabilities,NaN,NaN,NaN,NaN
17,Segment assets,"3,656,845","10,513,018","972,877","15,142,739"
18,NaN,NaN,NaN,NaN,NaN
19,Segment liabilities,"916,958","609,942","171,848","1,698,748"
20,NaN,NaN,NaN,NaN,NaN
21,Other segment information,NaN,NaN,NaN,NaN
22,Capital expenditure - tangible fixed,NaN,NaN,NaN,NaN
23,assets,"55,206","60,242","26,512","141,960"
24,Depreciation and amortisation,"120,183","37,839","87,794","245,816"
25,Income tax expense,-,-,"194,897","194,897"
26,Interest income,-,-,"( 29,241)","(29,241)"
27,Interest expense,-,-,"14,116","14,116"
28,NaN,NaN,NaN,NaN,NaN
29,Average number of employees,"1,510",854,110,"2,475"

In [ ]:
dataframes   =  []
file_  = os.listdir()
csv_files = [file for file in file_ if file.lower().endswith('.csv')]
csv_files

['Sasini_coffee41.csv',
 'Sasini_coffee69.csv',
 'Sasini_coffee50.csv',
 'Sasini_coffee71.csv']

In [ ]:
import os
print(os.getcwd())
os.listdir()

/content

['.config',
 'Sasini_Annual_data_5.pdf',
 'Sasini_coffee41.csv',
 'Sasini_coffee69.csv',
 'Sasini_Annual_data_0.pdf',
 'Sasini_Annual_data_2.pdf',
 'Sasini_Annual_data_4.pdf',
 'Sasini_Annual_data_3.pdf',
 'drive',
 'Sasini_coffee50.csv',
 'Sasini_coffee71.csv',
 'Sasini_Annual_data_1.pdf',
 'sample_data']

`Consolidation` ie   the process of combining and summarizing financial information from multiple entities or sources into a single report.
- The  datasets  contain of  mainly  Financial information  and  assets inform of $Ksh$.
- It has  information on various  crops ie  
> - Tea
> - Coffee

Others  have:
>	- 	Macadamia
> - Avocado	 and  others.